body{
    background-image: url("./image/bg-image.jpg") ;
    background-size: 1550px 550px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.heading{
    text-align: center;
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 120px;
}

.templates{
    height: 350px;
}

.template1{
    padding: 20px;
    width: 300px;
    
}

.form-template1{
    margin-top: 40px;
    background-color:linen;
    width: 250px;
    height: 40px;
}

#search-form{
    height: 37px;
    background-color: none;
    border: none;
    width: 200px;
}

.search-button{
    height: 38px;
    background-color: none;
    border: none;
}

.details{
    margin-top: 40px;
    width: 150px;
    height: 50px;
}

.lenders{
    margin-top: 30px;
}

.footer-title{
    text-align: center;
}

.lenders-logos{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}




